<!-- src/app/components/doctor/doctor.component.html -->
<div>
  <div class="doctor-form">
    <h3 class="form-text">Enter Doctor Details</h3>
    <br>
    <div>Enter doctor's name : <input type="text" [(ngModel)]="dname"></div>
    <div>Enter doctor's specialization : <input type="text" [(ngModel)]="dspecialization"></div>
    <div>Enter doctor's phone : <input type="text" [(ngModel)]="dphone"></div>
    <div>Enter doctor's email : <input type="text" [(ngModel)]="demail"></div>
    <button (click)="createDoctor()">Add Doctor</button>
  </div>

  <h2>Doctors</h2>
  <ul>
    <li *ngFor="let doctor of doctors">
      Id : {{doctor.id}} | Name : {{ doctor.name }} | Specialization : {{ doctor.specialization }}
      <button (click)="deleteDoctor(doctor.id)">Delete</button>
    </li>
  </ul>
</div>
  
  